/* ---------- RESET & BASE STYLES ---------- */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", Verdana, sans-serif;
  color: var(--base-font-color);
}

body {
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

:root {
  --Primary-color: #205781;
  --Secondary-color: #4f959d;
  --fill-color: #d5e6e7;
  --base-font-color: #333332;
  --second-font-color: #777776;
}

/* ---------- MAIN START ---------- */
.main-container {
  margin: 60px auto;
  display: flex;
  gap: 12px;
  width: 100%;
}

/* ---------- FILTER START ---------- */
.filter-wrap {
  overflow-y: scroll;
  top: 0;
  margin-left: 40px;
  height: 600px;
}

.filter-container {
  background-color: rgba(213, 230, 231, 0.5);
  padding: 12px;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  width: 250px;
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 800px;
}

.filter-head {
  display: flex;
  text-align: center;
  gap: 12px;
  padding: 16px;
  border-bottom: solid 1px #999998;
}

.filter-content {
  padding: 8px;
  text-align: start;
}

.filter-content h4 {
  font-weight: 600;
}

.checkbox-filter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding: 8px 0;
}

.filter-jenjang {
  display: flex;
  flex-direction: column;
  border-bottom: solid 1px #999998;
}

.checkbox-label {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 8px;
}

.checkbox-filter input {
  opacity: 0;
}

.custom-checkbox {
  width: 24px;
  height: 24px;
  border: 1px solid var(--Primary-color);
  background-color: white;
  border-radius: 5px;
  display: inline-block;
  position: relative;
  margin-right: 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.checkbox-filter input:checked + .custom-checkbox {
  background-color: #004a80;
  border-color: #004a80;
}

.checkbox-filter input:checked + .custom-checkbox::after {
  content: "✔";
  position: absolute;
  color: white;
  font-size: 14px;
  font-weight: bold;
  left: 6px;
  top: 0;
}

.filter-tipe {
  padding-top: 12px;
  border-bottom: solid 1px #999998;
}

.filter-negara {
  padding: 12px 0 18px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  border-bottom: solid 1px #999998;
}

.filter-univ {
  padding: 12px 0 18px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.filter-negara input,
.filter-univ input {
  width: 100%;
  height: 100%;
  border: solid 1px #999998;
  outline: none;
  background-color: #ddd;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  padding: 8px 12px;
}
.filter-negara input::placeholder,
.filter-univ input::placeholder {
  color: #999998;
}
/* ---------- FILTER END ---------- */

/* ---------- MAIN CONTENT START ---------- */
.main-content {
  display: flex;
  flex-direction: column;
  margin: 0 24px;
  width: 70%;
}
/* ---------- MAIN CONTENT END ---------- */

/* ---------- YEAR SET START ---------- */
.year-container {
  display: flex;
  gap: 24px;
}

.year-container h1 {
  font-weight: 600;
  font-size: 28px;
  display: flex;
  align-items: center;
}

.arrow-btn {
  display: flex;
}

.arrow-btn .prev-btn,
.arrow-btn .next-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 8px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.arrow-btn .prev-btn:hover,
.arrow-btn .next-btn:hover {
  background-color: #ddd;
}
/* ---------- YEAR SET END ---------- */

/* ---------- MONTH SET START ---------- */
.month-container {
  width: 100%;
  padding: 12px 0;
}

.month-container .month-list {
  display: flex;
  gap: 12px;
}

.month-container .month-list li {
  background-color: var(--fill-color);
  padding: 8px 16px;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  font-size: 16px;
  color: var(--Primary-color);
}

.month-container .month-list li:hover,
.month-container .month-list li .active {
  background-color: var(--Primary-color);
  color: white;
}
/* ---------- MONTH SET END ---------- */

/* ---------- BEASISWA LIST START ---------- */
.beasiswa-container {
  padding: 12px 0;
}

.beasiswa-container h3 {
  font-size: 20px;
}

.beasiswa-list {
  display: flex;
  flex-direction: column;
  margin: 24px 0 0;
  gap: 18px;
}

.beasiswa-list .beasiswa-card {
  display: flex;
  background: var(--fill-color);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  overflow: hidden;
  padding: 18px 12px;
  flex: 0 0 auto;
}

.card-info {
  padding: 12px;
  border-right: 2px solid #ddd;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.degrees {
  display: flex;
  gap: 8px;
}

.degree {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background: #4f959d;
  color: white;
  font-weight: bold;
  font-size: 14px;
  border-radius: 50%;
}

.dates {
  margin-top: 12px;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.start-date {
  font-weight: 600;
}

.deadline {
  font-weight: 600;
  color: #d0352a;
}

.card-content {
  margin-left: 16px;
  padding: 12px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-content .head-card {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.title {
  font-size: 18px;
  font-weight: bold;
}

.location {
  font-size: 12px;
  color: #666;
}

.bookmark {
  display: flex;
  justify-content: end;
}

.bookmark-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 8px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bookmark-btn:hover {
  background: #ddd;
}
/* ---------- BEASISWA LIST END ---------- */
/* ---------- MAIN END ---------- */
